<div id="titleContent" class="header">
  <a routerLink="/project/project-list" routerLinkActive="active">
    <img src="assets/img/logo.png" style="margin-right: 10px" />
  </a>
  <h1 class="title">
    {{ "Project Information Management" | translate }}
  </h1>

  <div class="buttons">
    <button
      class="language-button button-margin-right"
      *ngFor="let lang of translate.getLangs()"
      [class.active]="lang === translate.currentLang"
      (click)="translate.use(lang)"
    >
      {{ getLanguageButtonText(lang) }}
    </button>
  </div>
  <button class="helpButton" type="button">{{ "Help" | translate }}</button>
  <button class="logButton" type="button">{{ "Log out" | translate }}</button>
</div>

<hr />
<div class="navbar-vertical">
  <div class="navbar-brand-wrapper">
    <a
      class="navbar-brand"
      routerLink="/project/project-list"
      routerLinkActive="active"
      >{{ "Project List" | translate }}</a
    >

    <div class="navbar-brand-wrapper">
      {{ "New" | translate }}
      <div class="navbar-links">
        <a
          class="nav-link"
          routerLink="/project/create-project"
          routerLinkActive="active"
          >{{ "Project" | translate }}</a
        >
        <a routerLink="/customer" class="nav-link">{{
          "Customer" | translate
        }}</a>
        <a routerLink="/supplier" class="nav-link">{{
          "Supplier" | translate
        }}</a>
      </div>
    </div>
  </div>
  <div class="vertical-line"></div>
  <div class="container body-content">
    <router-outlet></router-outlet>
    <hr />
  </div>
</div>
