<mat-toolbar color="normal">
  <span>{{ "Project List" | translate }}</span>
</mat-toolbar>

<div class="projectList-page">
  <div class="filter-container">
    <mat-form-field>
      <mat-label> {{ "Project number, name, customer" | translate }}</mat-label>
      <input matInput #input1 />
    </mat-form-field>

    <mat-form-field class="status-filter">
      <mat-label>{{ "Project Status" | translate }}</mat-label>
      <input matInput #input2 />
    </mat-form-field>

    <!-- <mat-form-field style="margin-left: 20px">
      <mat-label>{{ "Project Status" | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option value="New">{{ "New" | translate }}</mat-option>
        <mat-option value="Planned">{{ "Planned" | translate }}</mat-option>
        <mat-option value="In Progress">{{
          "In Progress" | translate
        }}</mat-option>
        <mat-option value="Finished">{{ "Finished" | translate }}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <button
      class="searchButton"
      mat-raised-button
      color="primary"
      (click)="applyFilters()"
    >
      {{ "Search Project" | translate }}
    </button>

    <button class="clearButton" (click)="clearFilters()" type="button">
      {{ "Reset Search" | translate }}
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="projectNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Number" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/project/edit-project', row.id]">{{
            row.projectNumber
          }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Name" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.projectName }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Status" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Customer" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.customer }}</td>
      </ng-container>

      <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "Start Date" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.startdate | date : "dd.MM.yyyy " }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            (click)="deleteProduct(row.id)"
            color="warn"
            *ngIf="row.status === 'New'"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <div *ngIf="input1.value || input2.value">
            {{ "No data matching the filter" | translate }}
            {{ input1.value ? input1.value : input2.value ? input2.value : "" }}
            <span *ngIf="input1.value && input2.value">{{
              "and" | translate
            }}</span>
            {{ input2.value }}
          </div>
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
<div class="select-message" *ngIf="selection.selected.length != 0">
  <p class="select-text">
    {{ selection.selected.length }} {{ "items selected" | translate }}
  </p>
  <div class="select-button-container">
    <p class="delete-text">{{ "Delete selected items" | translate }}</p>
    <button
      class="select-delete-button"
      mat-icon-button
      (click)="deleteSelectedProjects()"
      color="warn"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
