.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 120px;
  margin: 0 auto;
}

.mat-form-field {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  margin-bottom: 20px;
}

.searchButton {
  margin-left: 20px;
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 2px;
  width: 100px;
  height: 50px;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  margin-left: 20px;
}

.clearButton {
  width: 150px;
  height: 50px;
  border-radius: 2px;
  margin-left: 20px;
  border-width: 0.1px;
}

.select-message {
  display: flex;
  background-color: rgb(202, 234, 245);
  padding: 10px;
  border-radius: 4px;
}

.select-text {
  margin-top: 10px;
  color: blue;
  font-size: 15px;
}

// .select-delete-button {
//   display: flex;
//   margin-left: 500px;
// }

.select-button-container {
  margin-left: auto;
  display: flex;
}

.delete-text {
  margin-top: 10px;
  color: rgb(192, 97, 7);
  font-size: 15px;
}

.projectList-page {
  margin-top: 10px;
}

.filter-container {
  display: flex;
}

.status-filter {
  margin-left: 20px;
}

mat-toolbar {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.mat-form-field {
  height: 50px;
}
