<h2>{{ title | translate }}</h2>
<hr />
<form
  #localForm="ngForm"
  [formGroup]="newprojectForm"
  (ngSubmit)="updateProject()"
  class="form-container"
>
  <!-- Form fields omitted for brevity -->
  <div class="form-group">
    <div class="input-group">
      <label for="project-number"
        >{{ "Project number" | translate
        }}<span class="required-field"> *</span></label
      >
      <input
        id="project-number"
        type="text"
        formControlName="projectNumber"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('projectNumber')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="project-name"
        >{{ "Project name" | translate
        }}<span class="required-field"> *</span></label
      >
      <input
        id="project-name"
        type="text"
        formControlName="projectName"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('projectName')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="customer"
        >{{ "Customer" | translate
        }}<span class="required-field"> *</span></label
      >
      <input
        id="customer"
        type="text"
        formControlName="customer"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('customer')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="group"
        >{{ "Group" | translate }}<span class="required-field"> *</span></label
      >
      <input
        id="group"
        type="text"
        formControlName="group"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('group')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="member">{{ "Members" | translate }}</label>
      <input id="member" type="text" formControlName="members" />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="status"
        >{{ "Status" | translate }}<span class="required-field"> *</span></label
      >
      <select
        id="status"
        name="Status"
        formControlName="status"
        type="text"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('status')?.invalid
        "
      >
        <option disabled selected>{{ "--Select--" | translate }}</option>
        <option value="New">{{ "New" | translate }}</option>
        <option value="Planned">{{ "Planned" | translate }}</option>
        <option value="In Progress">
          {{ "In Progress" | translate }}
        </option>
        <option value="Finished">{{ "Finished" | translate }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="startdate"
        >{{ "Start date" | translate
        }}<span class="required-field"> *</span></label
      >
      <input
        id="startdate"
        type="date"
        formControlName="startdate"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('startdate')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="enddate">{{ "End date" | translate }}</label>
      <input
        id="enddate"
        type="date"
        formControlName="enddate"
        [class.is-invalid]="
          newprojectForm.get('enddate').invalid &&
          newprojectForm.get('enddate').touched
        "
      />
      <div
        *ngIf="newprojectForm.get('enddate').hasError('dateComparison')"
        class="invalid-feedback"
      >
        {{ "End date must not be smaller than start date" | translate }}
      </div>
    </div>
  </div>

  <div
    class="error-message"
    *ngIf="localForm.submitted && newprojectForm.invalid"
  >
    {{ "Please enter all the mandatory fields (*)" | translate }}
  </div>
  <hr />

  <div
    class="error-message"
    *ngIf="localForm.submitted && newprojectForm.invalid"
  >
    {{ "Please enter all the mandatory fields (*)" | translate }}
  </div>
  <div class="button-container">
    <button class="cancelButton" type="button" (click)="cancel()">
      {{ "Cancel" | translate }}
    </button>
    <button class="updateButton" type="submit">
      {{ actionBtn | translate }}
    </button>
  </div>
</form>
