<p>New Project</p>

<hr />
<form
  #localForm="ngForm"
  [formGroup]="newprojectForm"
  (ngSubmit)="onSubmit(localForm)"
  class="form-container"
>
  <div class="form-group">
    <div class="input-group">
      <label for="project-number"
        >Project number<span class="required-field"> *</span></label
      >
      <input
        id="project-number"
        type="text"
        formControlName="projectNumber"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('projectNumber')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="project-name"
        >Project name<span class="required-field"> *</span></label
      >
      <input
        id="project-name"
        type="text"
        formControlName="projectName"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('projectName')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="customer"
        >Customer<span class="required-field"> *</span></label
      >
      <input
        id="customer"
        type="text"
        formControlName="customer"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('customer')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="group">Group<span class="required-field"> *</span></label>
      <input
        id="group"
        type="text"
        formControlName="group"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('group')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="member">Members</label>
      <input id="member" type="text" formControlName="members" />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="status">Status<span class="required-field"> *</span></label>
      <select
        id="status"
        name="Status"
        formControlName="status"
        type="text"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('status')?.invalid
        "
      >
        <option disabled selected>--Select--</option>
        <option
          value="New"
          [value]="newprojectForm.get('status')?.value || 'New'"
        >
          New
        </option>
        <option value="Planned">Planned</option>
        <option value="In Progress">In Progress</option>
        <option value="Finished">Finished</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="startdate"
        >Start date<span class="required-field"> *</span></label
      >
      <input
        id="startdate"
        type="date"
        formControlName="startdate"
        required
        [class.is-invalid]="
          localForm.submitted && newprojectForm.get('startdate')?.invalid
        "
      />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="enddate">End date</label>
      <input id="enddate" type="date" formControlName="enddate" />
    </div>
  </div>
  <hr />
  <div
    class="error-message"
    *ngIf="localForm.submitted && newprojectForm.invalid"
  >
    Please enter all the mandatory fields (*).
  </div>
  <div class="button-container">
    <button class="cancleButton" type="button" (click)="cancle()">
      Cancle
    </button>
    <button class="createButton" type="submit">{{ actionBtn }}</button>
  </div>
</form>

<!-- <h1 mat-dialog-title>Project</h1>

<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Project number</mat-label>
    <input matInput placeholder="Number" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Project number</mat-label>
    <input matInput placeholder="Number" />
  </mat-form-field>
</div> -->
